.news {
  width: 240px;
  height: 144px;
  .info {
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #FFCC21;
    padding: 3px 5px 3px 4px;
  }
}
.title {
  font-size: 15px;
  margin-top: 5px;
}

.tag {
  font-size: 12px;
  color: #FF963C;
  margin-top: 5px;
}