@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'styles/common.scss';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Noto Sans JP', sans-serif;
}

.app-container-body {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 64px;
}